body {
  background-color: #333;
  color: aliceblue;
}

.App {
  text-align: center;
}

.taskBg {
  background-color: #555;
  border-radius: 10px;
  margin-bottom: 10px;
  padding: 10px 10px 10px 10px;
  text-align: left;
  font-size: 10px;
  position: relative;
}

/* .taskBg div{

} */

.taskBg .done .taskText{
  text-decoration: line-through;
  opacity: 0.3;
}

.taskNumber{
  color: #999;
  position: relative;
  
}